body {margin: 0 0 0 0; padding: 0 0 0 0;font-family: Courier;background-color: #ffffff;}

#MainDiv { position: relative; margin-top: 30px; width: 800px; height: 685px; margin-left: auto; margin-right: auto; background-color: #504A4B; border-radius: 50px; border: 2px solid #504A4B;}

div.introPanel{position: relative; height: 200px; width: 600px; background-color: rgb(206,206,206); border-radius: 50px; margin-left: 25px}
div.introPanel p { padding-left: 45px; padding-top: 40px; background-color: white}
div.introPanel h3 { color: black; padding-left: 40px; padding-top: 40px; text-align: left; padding-right: 5px; font-family: Verdana;}
div.introPanel h4 { color: black; padding-left: 40px; padding-top: 5px; text-align: left; padding-right: 5px; font-family: Verdana;}

div.aboutPanel{position: relative; height: 200px; width: 600px; background-color: rgb(206,206,206); border-radius: 50px; margin-left: 22%;}
div.aboutPanel p { padding-left: 30px; padding-top: 5px; padding-right: 30px; font-family: Verdana}
div.aboutPanel h3 { color: black; padding-left: 40px; text-align: center; padding-right: 5px; font-family: Verdana; padding-top: 20px}


div.softwarePanel{position: relative; height: 200px; width: 600px; background-color: rgb(206,206,206); border-radius: 50px;margin-left: 25px}
div.softwarePanel p { padding-left: 45px; padding-top: 20px; font-family: Verdana}
div.softwarePanel h3 { color: black; padding-left: 40px; padding-top: 40px; text-align: right; padding-right: 5px;font-family: Verdana}
div.softwarePanel h4 { color: black; padding-left: 20px; padding-top: 10px; text-align: left; padding-right: 5px;font-family: Verdana}
div.softwarePanel li{font-family: verdana; list-style: none;}
div.softwarePanel ul{column-count: 2;-moz-column-count:2; -webkit-column-count:2; }